/* Colors from https://digitalsynopsis.com/design/color-schemes-palettes/, #29 */

html,
body {
	height: 100%;
	margin: 0;
}

body {
	font-family: "Consolas", monospace;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #100c08;
	/* background-image: url("apex_legends_logo_by_dragonshadesx_dd39uu8-fullview.jpg"); */
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

h1 {
	font-family: "Source Serif Pro";
}

p {
	font-family: "Source Sans Pro";
	font-size: 18px;
}

a {
	text-decoration: underline;
}

#main-container {
	display: flex;
	align-items: baseline;
}

#main-container > div {
	margin: 10px 1000px 10px 0px; /*10px 50px 10px 50px;*/
}

.flex-container {
	display: flex;
	flex-direction: column;
	right: 0;
}

.flex-container > .container {
	display: none;
}

#btnShow {
	position: fixed;
	margin: 10px;
	right: 0px;
	bottom: 0;
}
#btnHide {
	position: fixed;
	margin: 10px;
	right: 0;
	bottom: 0;
}
#btnQuote {
	position: fixed;
	text-align: center;
	margin: 10px;
	bottom: 42px;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #e42024;
		background-color: #100c08;
	}

	body a,
	p {
		color: #ddd;
	}
}

#clock {
	font-family: "Source Serif Pro";
	color: #ddd;
	font-size: 56px;
	text-align: center;
	position: fixed;
	top: 0;
	margin-left: 20px;
}

#quoteArea {
	font-family: "Source Serif Pro";
	color: #ddd;
	font-size: 30px;
	text-align: center;
	position: fixed;
	bottom: 0;
}
